<form class='mon_formulaire' action="/modifier" name='mon_formulaire' id='mon_formulaire' method="POST" >
 <input type = "hidden" placeholder="_i4d" name = "_id"> 
 <input type = "hidden" placeholder="Nom" name = "nom"> 
 <input type = "hidden" placeholder="Prénom" name = "prenom">
 <input type = "hidden" placeholder="Téléphone" name = "telephone">
 <input type="submit" value='Ajouter'>
</form>